body {
  margin: 0;
  padding: 0;
 
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  
  box-shadow: insert  5px 0 5px 5px #34495e;
 
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  flex-direction: column;
  background-color: #ffffff;
  border: none;
}

.body-content{
  width: 1200px;
  margin: auto;
  vertical-align: center;
}

.navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  
  display:flex;
  width:1200px;  
}

.navigation-list {
  display:flex;
  list-style:none;
  
  padding: 0px;
  margin: 10px auto;
  width: 1061px;
} 

.navigation-item{
  width: 239px; 
}

.navigation-item:nth-child(2){
  margin-right: 56px; 
  text-align: left;
}


.navigation-item:nth-child(3){
  margin-left: 56px;
  text-align: right;
}

.navigation-item:nth-child(4){

  text-align: right;
}

.navigation-list a {
  color: #000000;
}  

.navigation-list a:hover,
.navigation-list a:focus {
  color: #81b3d2;
}  

.navigation-list a:active {
  color: #b7b7b7;
}  

.navigation-item-current a{
  color: #918279;
}

.main-content-logo {  
    
  width: 1200px;
  height: 511px;
  background-color: #ffffff; 
  background-image: url("../img/welcome.svg"), url("../img/polygon.svg"), url("../img/background-photo.jpg"); 
  background-position: 50% 80px, 50% 454px, 50% -58px; 
  background-repeat: no-repeat,no-repeat,no-repeat; 
  background-size: 459px 353px, 1201px 59px, 1200px 800px;
}

.logo-photo{
  position: absolute;
  top: 0px;
  left: 690px;
  z-index: 2;
}

.features {
  margin:0;
  padding:0;
  position: absolute;
  z-index: 2;
  top: 625px;
  left: 380px;
  right: 380px;
}

.features-title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  display:block;
  
  margin-left: auto;
  margin-bottom:30px;
  margin-right: auto;
  width:440px; 
  height: 48px;
  white-space: normal;
 
}

.features-description {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  margin-left: auto;
  margin-bottom:55px; 
  margin-right: auto;
  width:489px; 
  height: 13px; 
}

.search {
  margin:auto;
  padding:auto;
  margin-top: 1935px;
}

.search-interested {
  text-align: center;  
  font-size: 21px;
  line-height: 26px;
  background-color: #ffffff; 

  margin: auto;
  display: block;
  margin-bottom:35px;
  padding:0 50px;
  width:305px; 
}   

.search-point {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400; 

  margin: auto;
  display:flex;
  margin-bottom:50px;
  padding:10px;
  width:440px;
}

.search-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.search-hotel{
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;

  display: flex;
  margin-left: 316px;
  white-space: nowrap;
  padding:  140px;  
  padding-top: 35px;
  padding-bottom: 33px;
}

.search-hotel:hover,
.search-hotel:focus {
  color: #ffffff;
  background-color: #604e43;
}

.search-hotel:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.search-item{
  padding: 0px 10px; 
  width: 568px; 
  
}

.search-dates-item, .search-dates-item::placeholder,
.search-people-item, .search-people-item::placeholder {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
  
}


.search-dates-item {
  background-color: #f2f2f2;
}
 
.search-dates-item:hover {
  background-color: #ebebeb;
 }
 
.search-dates-item:focus {
  background-color: #ffffff;
 }

 .search-people-item {
  background-color: #f2f2f2;
}

.search-people-item:hover {
  background-color: #ebebeb;
 }
 
.search-people-item:focus {
  background-color: #ffffff;
}
  
.search-date-arrive, .search-date-departure, .search-grownups, .search-children {
  text-align: center;
  
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
}

.calendar{
  background-color: #cacaca;
}

.calendar:hover,
.calendar:focus {
  background-color: #000000;
}

.calendar:active {
  background-color: #81b3d2;
}

.search-item-minus{
   background-color: #a9a9a9;
}

.search-item-minus:hover,
.search-item-minus:focus {
  background-color: #000000;
}

.search-item-minus:active {
  background-color: #81b3d2;
}

.search-item-plus{
   background-color: #a9a9a9;
}

.search-item-plus:hover,
.search-item-plus:focus {
  background-color: #000000;
}

.search-item-plus:active {
  background-color: #81b3d2;
}

.search-item-find {
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  height: 60px;
  display: flex;
  padding: 196px; 
  padding-top: 17px; 
  padding-bottom: 22px; 
  
}  


.search-item-find:hover,
.search-item-find:focus {
  background-color: #669ec0;
}

.search-item-find:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hotels-info{
  width:1200px;
 
  margin-top: 303px;
  margin-bottom: 0px; 
  
}

.hotel-description{
  padding:0px;
  margin:0px;
  margin-left: 30px;
}

.detail-wrapper{ 
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.hotels-info-item {
  padding: 30px 72px;
  list-style: none;
  border-bottom: 1px solid #f2f2f2;
}
.item-wrapper{
  display: flex;
}

.item-wrapper {
  width: 100%;
}

.hotels-info-list:nth-child(1){
  border-top: 1px solid #f2f2f2;
  padding: 0;
  margin: 0;
}

.hotel-name{
  margin-top: -6px;
  margin-bottom: 8px; 
}

.hotel-name-link {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-name-link:hover,
.hotel-name-link:focus {
  color: #81b3d2;
}

.hotel-name-link:active {
  color: #c7c7c7;
}

.hotel-item-link {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff; 
}

.hotel-item-link.--light{
  width: 75px;
  height: 12px;
  margin-right: 6px;
  padding: 4px 17px;
}

.hotel-item-link.--dark{
  width: 110px;
  height: 11px;
  padding: 4px 16px;
 }

.hotel-item-link.--light {  
background-color: #81b3d2;
}

.hotel-item-link.--light:hover,
.hotel-item-link.--light:focus {
  background-color: #669ec0;
}

.hotel-item-link.--light:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.hotel-item-link.--dark {
background-color: #766357;
}

.hotel-item-link.--dark:hover,
.hotel-item-link.--dark:focus {
  background-color: #604e43;
}

.hotel-item-link.--dark:active {
 background-color: #503e33;
 color: rgba(255,255,255,0.3);
}

.hotels-rating {
  font-size: 14px;
  line-height: 21px;
  color: #828282;
  font-weight: 400;
  background-color: #f2f2f2;
}

.hotel-rating-info{
  margin-left: auto;
}

.kind-of-hotel {
  font-size: 14px;
  line-height: 21px;
  color: #696969;
  font-weight: 400;
  margin: 0px;
}

.hotel-price {
  font-size: 14px;
  line-height: 21px;
  color: #696969;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: 74px;
}

.main-footer {
  color: #000000;
  text-align: center;
  background-color: #f9fbf6;
  padding: 51px 132px;
}

.main-footer .container{
  display: flex;
  align-items: baseline;  
  width: 967px;
}

.footer-tagline {
  text-align: center;
  font-size: 21px; 
  line-height: 26px;
  background-color: #f9fbf6;


  margin:0;
}

.social {
  text-align: center;
  list-style: none;
  display: flex;
  

  margin: 0 auto;
  padding: 0;  
}

.social-item{
  justify-content: space-between;
  width: 46px;
  height: 48px;
}

.social-button {
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
 background-color: #669ec0;  
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright-move{
  color:#000000;
  margin:0;
}

.logo-footer {
  color: #000000;
}

.logo-footer:hover,
.logo-footer:focus {
  color: #81b3d2;
 
}

.logo-footer:active {
  color: #bdbbbc;
}
