body {
  margin: 0;
  padding: 0;
 
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  flex-direction: column;
  background-color: #ffffff;
  border: none;
}

.body-content{
  width: 1200px;
  margin: auto;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  vertical-align: center;
  background-color: #ffffff;
}

.navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  
  display:flex;
  width:1200px;  
}

.navigation-list {
  display:flex;
  list-style:none;
  
  padding: 0px;
  margin: 10px auto;
  width: 1061px;
} 

.navigation-item{
  width: 239px; 
}

.navigation-item:nth-child(2){
  margin-right: 56px; 
  text-align: left;
}


.navigation-item:nth-child(3){
  margin-left: 56px;
  text-align: right;
}

.navigation-item:nth-child(4){

  text-align: right;
}

.navigation-list a {
  color: #000000;
}  

.navigation-list a:hover,
.navigation-list a:focus {
  color: #81b3d2;
}  

.navigation-list a:active {
  color: #b7b7b7;
}  

.navigation-item-current a{
  color: #918279;
}

.main-content-logo {  
    
  width: 1200px;
  height: 511px;
  background-color: #ffffff; 
  background-image: url("../img/welcome.svg"), url("../img/polygon.svg"), url("../img/background-photo.jpg"); 
  background-position: 50% 80px, 50% 454px, 50% -58px; 
  background-repeat: no-repeat,no-repeat,no-repeat; 
  background-size: 459px 353px, 1201px 59px, 1200px 800px;
}

.logo-photo{
  position: absolute;
  top: 0px;
  left: 45.5%;
  z-index: 2;
  width: 141px;
  height: 71px;
}

.features {
  margin:0;
  padding:0;
  position: absolute;
  z-index: 2;
  top: 625px;
  left: 380px;
  right: 380px;
}

.features-title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  display:block;
  
  margin-left: auto;
  margin-bottom:30px;
  margin-right: auto;
  width:440px; 
  height: 48px;
  white-space: normal;
 
}

.features-description {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  margin-left: auto;
  margin-bottom:55px; 
  margin-right: auto;
  width:489px; 
  height: 13px; 
}

.search {
  margin:auto;
  padding:auto;
  margin-top: 1935px;
}

.search-interested {
  text-align: center;  
  font-size: 21px;
  line-height: 26px;
  background-color: #ffffff; 

  margin: auto;
  display: block;
  margin-bottom:35px;
  padding:0 50px;
  width:305px; 
}   

.search-point {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400; 

  margin: auto;
  display:flex;
  margin-bottom:50px;
  padding:10px;
  width:440px;
}

.search-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 55px;
  margin-left: 55px;
}

.search-hotel{
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;

  display: flex;
  margin-left: 316px;
  white-space: nowrap;
  padding:  140px;  
  padding-top: 35px;
  padding-bottom: 33px;
}

.search-hotel:hover,
.search-hotel:focus {
  color: #ffffff;
  background-color: #604e43;
}

.search-hotel:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.search-item{
  padding: 0px 10px; 
  width: 568px; 
  align-items:center;
  display: flex;
}

.search-dates-item, .search-dates-item::placeholder,
.search-people-item, .search-people-item::placeholder {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;
  border:0;
}


.search-dates-item{

  background-color: #f2f2f2;
  width: 333px;
  height: 38px;
  border:0;
}

.calendar{
  position:relative;
  background-color: #f2f2f2;
  border:0;
  width:21px;
  height:22px;
  right: 35px;
  top: 4px;
}

.calendar::after{
  content:"";

  position:absolute;
  top: -4px;
  right: 0;
  width:21px;
  height:22px;
  
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.calendar:hover::after,
.calendar:focus::after{
  background-image:url("../img/calendar-hover.svg");
  background-repeat: no-repeat;
  background-position:0 0;
}

.calendar:active::after{
  background-image:url("../img/calendar-pushed.svg");
  background-repeat: no-repeat;
  background-position:0 0;
}

input#search-date-arrive.search-dates-item{
  margin-left: 21px;
  padding-left: 13px;
}

input#search-date-departure.search-dates-item{
  margin-left: 17px;
  padding-left: 13px;
}

button.search-item-minus{
  margin-left: 38px;
  padding: 0;
  border: 0;
  margin-right: -3px;
}

button.search-item-minus2{
  margin-left: 27px;
  padding: 0;
  border: 0;
  margin-right: -3px;
}

button.search-item-plus{
  margin-right: 64px;
  padding: 0;
  border: 0;
  margin-left: -3px;
}

.search-date-departure{
  margin-left: 17px;
}
 
.search-dates-item:hover {
  background-color: #ebebeb;
 }
 
.search-dates-item:focus {
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
}

.search-people-item {
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  text-align: center;
  border:0;
  padding:0px;
}

.search-item-minus,
.search-item-minus2,
.search-item-plus{
 position: relative; 
 width:38px;
 height:38px;
 background: #f2f2f2;
 top:0px;
}

.search-item-minus{
  
  
  width:38px;
  height:38px;
  
  
}

.search-item-minus::before{
  content: "";
  position: absolute;
  margin-left: -6px;
  top: 17px;
  width:12px;
  height:3px;
  background: #a9a9a9;
}

.search-item-minus2::before{
  content: "";
  position: absolute;
  margin-left: -6px;
  top: 17px;
  width:12px;
  height:3px;
  background: #a9a9a9;
}

.search-item-plus::before{
  content: "";
  position: absolute;
  margin-left: -6.5px;
  top: 16px;
  width:12px;
  height:3px;
  background: #a9a9a9;
}

.search-item-plus::after{
  content: "";
  position: absolute;
  left: 17px;
  top: 12px;
  height:12px;
  width:3px;
  transform: rotate(0deg);
  background: #a9a9a9;
}

.search-item-minus:hover::before,
.search-item-minus:focus::before {
  background-color: #000000;
}

.search-item-minus:active::before {
  background-color: #81b3d2;
}

.search-item-minus2:hover::before,
.search-item-minus2:focus::before {
  background-color: #000000;
}

.search-item-minus2:active::before {
  background-color: #81b3d2;
}

.search-item-plus:hover::before,
.search-item-plus:focus::before {
  background-color: #000000;
}

.search-item-plus:active::before {
  background-color: #81b3d2;
}

.search-item-plus:hover::after,
.search-item-plus:focus::after {
  background-color: #000000;
}

.search-item-plus:active::after {
  background-color: #81b3d2;
}

.search-people-item:hover {
  background-color: #ebebeb;
 }
 
.search-people-item:focus {
  background-color: #ffffff;
}
  
.search-date-arrive, .search-date-departure, .search-grownups, .search-children {
  text-align: center;
  
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  border:0px;
}
 
.search-grownups{
  margin-left: 41px;
}

.search-item-find {
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  height: 60px;
  display: flex;
  padding: 196px; 
  padding-top: 17px; 
  padding-bottom: 22px; 
  border:0;
}  

.search-item-find:hover,
.search-item-find:focus {
  background-color: #669ec0;
}

.search-item-find:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hotels-info{
  width:1200px;
 
  margin-top: 303px;
  margin-bottom: 0px; 
  
}

.hotel-description{
  padding:0px;
  margin:0px;
  margin-left: 30px;
}

.detail-wrapper{ 
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.hotels-info-item {
  padding: 30px 72px;
  list-style: none;
  border-bottom: 1px solid #f2f2f2;
}
.item-wrapper{
  display: flex;
}

.item-wrapper {
  width: 100%;
}

.hotels-info-list:nth-child(1){
  border-top: 1px solid #f2f2f2;
  padding: 0;
  margin: 0;
}

.hotel-name{
  margin-top: -6px;
  margin-bottom: 8px; 
}

.hotel-name-link {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-name-link:hover,
.hotel-name-link:focus {
  color: #81b3d2;
}

.hotel-name-link:active {
  color: #c7c7c7;
}

.hotel-item-link {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff; 
}

.hotel-item-link.--light{
  width: 75px;
  height: 12px;
  margin-right: 6px;
  padding: 4px 17px;
}

.hotel-item-link.--dark{
  width: 110px;
  height: 11px;
  padding: 4px 16px;
 }

.hotel-item-link.--light {  
background-color: #81b3d2;
}

.hotel-item-link.--light:hover,
.hotel-item-link.--light:focus {
  background-color: #669ec0;
}

.hotel-item-link.--light:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.hotel-item-link.--dark {
background-color: #766357;
}

.hotel-item-link.--dark:hover,
.hotel-item-link.--dark:focus {
  background-color: #604e43;
}

.hotel-item-link.--dark:active {
 background-color: #503e33;
 color: rgba(255,255,255,0.3);
}

.star{
  background-image: url("../img/star.svg");
  background-position: 0% 100%;
  background-repeat: no-repeat;
  display: inline-flex;
  width:18px;
  height:17px;
}

.star-wrapper1{
  margin-left: 0px;
}

.star-wrapper2{
  margin-left: 24px;
}

.star-wrapper3{
  margin-left: 46px;
}

.hotels-rating {
  font-size: 14px;
  line-height: 21px;
  color: #828282;
  font-weight: 400;
  background-color: #f2f2f2;
  margin-top: 40px;
  padding: 3px;
}

.hotel-rating-info{
  margin-left: auto;
}

.kind-of-hotel {
  font-size: 14px;
  line-height: 21px;
  color: #696969;
  font-weight: 400;
  margin: 0px;
}

.hotel-price {
  font-size: 14px;
  line-height: 21px;
  color: #696969;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: 74px;
}

.main-footer {
  
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  padding: 51px 132px;
}

.main-footer .container{
  display: flex;

  width: 967px;
}

.footer-tagline {
  text-align: center;
  font-size: 21px; 
  line-height: 26px;
  margin:0;
  margin-top: 10px;
}

.social {
  text-align: center;
  list-style: none;
  display: flex;
  

  margin: 0 auto;
  padding: 0;  
}

.social-item{
  width: 46px;
  height: 48px;
  margin-right: 5px;
}

.social-twitter .social-button{
  background-image: url("../img/twitter.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
  display: flex;
  margin-left: 16px;
  margin-top: 15px;
}

.social-facebook .social-button{
  background-image: url("../img/facebook.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 12px;
  height: 22px;
  display: flex;
  margin-left: 16px;
  margin-top: 12px;
}

.social-youtube .social-button{
  background-image: url("../img/youtube.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  display: flex;
  margin-left: 14px;
  margin-top: 15px;
}

.social-twitter:active .social-button,
.social-facebook:active .social-button,
.social-youtube:active .social-button{ 
  opacity: 0.3; 
}

.social-item {
  background-color: #81b3d2;
}

.social-item:hover,
.social-item:focus {
 background-color: #669ec0;  
}

.social-item:active {
  background-color: #5496bd;
}

.footer-copyright-move{
  color:#000000;
  margin:0;
}

.footer-name{
  margin-left: -224px;
}

.logo-footer {
  color: #000000;
  background-image: url("../img/icon-academy.svg");
  background-position: 50% 100%;
  width: 115px;
  height: 41px;
  display: block;
  margin-top: -37px;
}

.logo-footer:hover,
.logo-footer:focus {
  color: #81b3d2;
  background-image: url("../img/icon-academy-hover.svg");
  background-position: 50% 100%;
}

.logo-footer:active {
  color: #bdbbbc;
  background-image:  url("../img/icon-academy-pushed.svg");
  background-position: 50% 100%;
}

